<h1>Cadastre a Sequência</h1>
{{#each erros}}
    <div>{{texto}}</div>
{{else}}
{{/each}}

<label >Tipo Sequencia:</label>
    <button onclick="callForm(5)">Quina</button>
    <button onclick="callForm(6)">Sena</button>
    <br><br>

<form id="registerForm" action="/admin/cadastrarSequencia" method="POST">

</form>