<div class="contents-container">
    <div class="container row">
        <a href="/admin/cadastrarSequencia"><button class="btn_item">Cadastrar Sequência</button></a><br>
    </div>
    <div class="container row">
        <a href="/admin/cadastrados/quinas"><button class="btn_item">Quina<br> Cadastrados</button></a>
        <a href="/admin/cadastrados/senas"><button class="btn_item">Sena<br> Cadastrados</button></a>
    </div>
</div>