<div id="botoes_pagina_principal_admin">
    <a href="/admin/cadastrarSequencia"><button class="btn_admin_routs">Cadastrar Sequência</button></a><br>
    <a href="/admin/cadastrados/quinas"><button class="btn_admin_routs">Quina<br> Cadastrados</button></a>
    <a href="/admin/cadastrados/senas"><button class="btn_admin_routs">Sena<br> Cadastrados</button></a>
</div>