<header>
    <div id="banner">
        <div id="elements_banner">
            <img id="img_banner" class="item-xcenter-ycenter" src="/svg/bola-de-cristal.svg">
            <h1 id="text_banner" class="item-xcenter-ycenter">Números Mágicos</h1>
        </div>
    </div>
    <nav>
        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776</label>
        
        <ul>
            <li> 
                <a href="/">home</a> 
            </li>
            <li> 
                <a href="/admin">admin</a> 
            </li>
            <li>
                <a href="/admin/login">login</a>
            </li>
            <li>
                <a href="#">logout</a>
            </li>
            <li>
                <a href="/admin/cadastrarUsuario">cadastrar</a>
            </li>
        </ul>
    </nav>
</header>