<header>
    <div id="banner">
        <div id="elements_banner">
            <img id="img_banner" class="item-xcenter-ycenter" src="/svg/bola-de-cristal.svg">
            <h1 id="text_banner" class="item-xcenter-ycenter">Números Mágicos</h1>
        </div>
    </div>
    <nav id="nav_header">home login logout cadastrar</nav>
</header>