<!DOCTYPE html>
<html lang="pt">
<head>
    
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Números Mágicos</title>
</head>
<body>
    {{>_header}}
    {{>_nav-bar}}    
        <main>
            {{>_msg}}
            {{{body}}}
        </main>
    {{>_footer}}
</body>
    <script src="/js/myJS.js"></script>
    <script src='/js/script.js'></script>
</html>