<!DOCTYPE html>
<html lang="pt">
<head>
    
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Números Mágicos</title>
</head>
<body>
    {{>_header}}     
        <main>
            {{>_msg}}
            {{{body}}}
        </main>
    {{>_footer}}
</body>
    <script src="/js/myJS.js"></script>
</html>