<div id="botoes-container">
    <a href="/public/t10sena"><button class="btn_item">Top 10 Sena</button></a>
    <a href="/public/t10quina"><button class="btn_item">Top 10 Quina</button></a><br>
    <a href="/public/ultimas_senas"><button class="btn_item">Ultimas Senas Sortiadas</button></a>
    <a href="/public/ultimas_quinas"><button class="btn_item">Ultimas Quinas Sortiadas</button></a><br>
    {{#unless user}}
        <a href="/usuario/cadastrarUsuario"><button class="btn_item">Cadastre-se e receba os últimos sorteios</button></a>
    {{/unless}}
</div>