<div id="botoes_pagina_principal_admin">
    <a href="/public/t10sena"><button class="btn_routs">Top 10 Sena</button></a>
    <a href="/public/t10quina"><button class="btn_routs">Top 10 Quina</button></a>
    <a href="#"><button class="btn_routs">Ultimas Senas Sortiadas</button></a>
    <a href="#"><button class="btn_routs">Ultimas Quinas Sortiadas</button></a>
    <a href="#"><button class="btn_routs">Cadastre-se e receba os últimos sorteios</button></a>
</div>