@font-face{
    font-family: showcard-gothic;
    src: url("../fonts/showcard-gothic.ttf");
}
@font-face{
    font-family: kristen-itc;
    src: url("../fonts/kristen-itc.ttf");
} 
html, body{
    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
    color: #373546;
    font-family: kristen-itc;
}
h1{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto;
}
header{
    min-height: 19vh;
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 0 8px 69px #1111119c;
}

main{
    min-height: 74.2vh;
    grid-column-start: 2;
    grid-column-end: 3;
}

footer{
    background-color:#211D1D;
    min-height: 7vh;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align:center;
    font-size: 2.5em;
    box-shadow:8px 0 69px #1111119c;
}

#banner{
    background-color:#8287b8;
    height: 75%;
}
#elements_banner{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
         
}
#img_banner{
    height: 90px;
    width: 90px;
    
}
#text_banner{
    font-family: showcard-gothic!important;
    font-size: 338%;
}
#nav_header{
    background-color: #211D1D;
    min-height:25%;
    color: #FFFFFF;
    font-size: 2em;
}

/*--------------------outros------------------------*/


/*--------------------bootstrap---------------------*/
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
